body {
    background-color: #F9F9F9;
    font-family: 'Roboto', sans-serif;
}

.border {
    border: 0.05rem solid #ececec !important;
}

.addCart {
    fill: gray;
    width: 150px;
    height: auto;
    /* align-self: center; */
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
}

.no-outline:focus {
    outline: none;
}